<!DOCTYPE html>
<html lang="ja">


{% extends 'base.html' %}

{% load static %}

{% block title %}INIAD HOME | INIAD INFO{% endblock %}

{% block header%}

<head>
    <title>template</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href=".css">
    <!-- cssファイルリンク付け-->
</head>


<body>
    <div class="entry entry-content">
        <div style="text-align: center;">
        <p><a href="http://iniad-bucket-wp.storage.googleapis.com/c01.jpg" class="cboxElement"><img class="wp-image-69 alignnone colorbox-68" src="http://iniad-bucket-wp.storage.googleapis.com/c01.jpg" alt="文・芸・理 融合新学問領域を創造の" width="1000" height="1193"></a></p>
        <hr>
        <p><span class="red"><span style="font-size: 24pt">つながる力</span></span><br>
        インターネットが大きく社会を変えたのは「人と人」をオープンに広くつなげたからです。<br>
        特定の企業の中でしかつながらない電子メールやホームページではこんな力は持てなかったでしょう。<br>
        メールアドレスやURL を知っていれば「いつでも、どこでも、だれでも」つながる──そのオープン性がインターネットの力です。</p>
        <p style="margin-top: 20px"><span class="yellow"><span style="font-size: 24pt">IoT</span></span><br>
        次の大きな技術・社会革新の波と言われているのが「IoT: Internet of Things──モノのインターネット」です。<br>
        私達の身の回りの「モノ」がネットワークにつながり「モノと人」、「モノとモノ」が、オープンにつながる時代がやってきます。<br>
        ロボットも自動運転自動車もIoT の一部です。<br>
        今までのインターネットの世界を超えて、ネットがモノを通して現実の世界とつながっていきます。<br>
        関連する法律や制度はより複雑になり、手で触れる現実の形としてのデザインの重要性も高まります。</p>
        <p style="margin-top: 20px"><span style="font-size: 24pt">求められる「文・芸・理」の<span class="green">連携教育</span></span><br>
        変化が加速した現代──高いレベルで「文・芸・理」の知恵を融合したIoT 時代のサービスやモノがあれば、より早く成功をおさめられます。<br>
        しかし同時に、どんなに優れた人でも一人で「文・芸・理」の全てが高いレベルでという人間はいません。<br>
        今、求められている人材は、自分が得意でない分野に対しても理解を持ち、共通の言葉で対話して連携しプロジェクトを達成できる人材です。<br>
        そのために創造したのが、連携するための「文・芸・理」のあり方を研究する「情報連携学」であり、その実践教育を行うのが私達の…<br>
        <span style="font-size: 18pt"><span class="blue">「INIAD : 情報連携学部」</span></span>なのです。</p>
        <hr>
        <h1>コンセプト<span class="red">は</span>「連携」</h1>
        <p>コンピュータ・インターネットをはじめとした、さまざまな科学技術により、成り立っている現代社会。一人で全てを理解し動かすことは難しい時代になってきています。<br>
        今求められているのは、多くの人々の協力と連携です。</p>
        <div class="su-row">
        <div class="su-column su-column-size-1-2">
        <div class="su-column-inner su-clearfix">
        <h1>インターネット社会<span class="red">の</span>今、世界<span class="red">は</span>ますますチャレンジが容易に</h1>
        <p>インターネットによって地理的制約がなくなり、考え方が同じで一緒にやっていける人々との出会いは簡単になりました。<br>
        遠く離れたところにいる人達と協力しあって一緒に仕事をしたり（クラウド・ソーシング）、設計図を送りモノを作ってもらって、それを（国際）宅急便で送り返してもらったりして、魅力的な試作品を作れば、ネットを通じて広く世界から資金を集める（クラウド・ファンディング）こともできます。<br>
        世界では、こうして若者たちが革新的な製品を世に出して成功する「スタートアップ」が増えています。</p>
        <h1>インターネットの中の様々な機能やサービス<span class="red">を</span>組み合わせ「連携」させれば…</h1>
        <p>いろいろな機能ブロックがネットから簡単に入手でき、スマートフォンの開発環境も充実しました。少しのプログラムだけで高度なアプリを作り、新サービスの実現が可能になります。</p>
        <h1>「連携」<span class="red">の</span>基盤はコンピュータ・サイエンス</h1>
        <p>チームを組んで、コンピュータを使いこなし情報を通して連携し、 素早くアイデアを形にできる人材が今求められています。
        </p></div>
        </div>
        <div class="su-column su-column-size-1-2">
        <div class="su-column-inner su-clearfix">
        <a href="http://iniad-bucket-wp.storage.googleapis.com/01.png" class="cboxElement"><img class="aligncenter size-full wp-image-75 colorbox-68" src="http://lh3.googleusercontent.com/vK4uziVQnzbZXgKD-nbOdq8LYwuqKCPV0WSqqdHx52_lQQceBu9FWnowcp3N2OqLjizoPriuKoGijfjKH6qS0R-1Dwob=s0" alt="コンセプト"></a>
        </div>
        </div>
        </div>
        </div>
        </div>
    <script type="text/Javascript" src=".js"></script>
    <!-- Javascriptファイルリンク付け-->
</body>
{% endblock %}

</html>

