<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block title %}年間スケジュール{% endblock %}

{% block header %}

<body>
    <h2>年間スケジュール</h2>
    <ul>
        <li>4月5日 入学式</li>
        <li>4月6日 第一クォーター開始</li>
        <li>6月3日 第一クォーター終了</li>
        <li>6月4日 第二クォーター開始</li>
        <li>7月19日 オープンキャンパス</li>
        <li>7月29日 第二クォーター終了</li>
        <br>
        <li>7月30日 ~ 9月17日 夏季休暇</li>
        <br>
        <li>9月18日 第三クォーター開始</li>
        <li>10月30日 ~ 11月3日 大学祭関連のため休講</li>
        <li>11月17日第三クォーター終了</li>
        <li>11月18日第四クォーター開始</li>
        <br>
        <li>12月23日 ~ 1月3日 冬季休暇</li>
        <br>
        <li>1月11日 成人の日 休講</li>
        <li>1月15･16日 入学試験 予定日 休講</li>
        <li>1月19日 ~ 1月21日 授業回数調整 休講</li>
        <li>1月30日 第四クォーター終了</li>
    </ul>
    <p>
        元のpdf⇒
        <a href="https://www.toyo.ac.jp/-/media/Images/Toyo/about/schedule/akabanedai/AY2020_Academic_Calendar_Japanese.ashx?la=Global&hash=B8C91685699B632D5A3D953B34582A7DD54DD2A3">
            年間予定表(pdf)
        </a>
    </p>
    <br>
    <br>
</body>

{% endblock %}