<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block title %}動画紹介{% endblock %}

{% block header %}

<body>
    <h2>動画紹介</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iGrEXngHGWg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OxQL3oD78sw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
</body>

{% endblock %}