.inputarea {
    display: flex;
    border-radius: 10px 0px 0px 10px;
}
.textbox {
    width: 97%;
    border-radius: 10px 0px 0px 10px;
}
.sendbutton {
    border-radius: 0px 10px 10px 0px;
}
textarea {
    border:solid 0px;
}