<!DOCTYPE html>

{% load static %}
<html lang="ja">

    <body>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-12">
                <h1 class = "h4 mb-4">navigation</h1>
            </div>
        </div>
        
        <div class = "row">
            <div class = "clo-12">
                <nav class = "navbar bg-light">
                    <a class = "nav-link active" href = "1">PADE A</a>
                    <a class = "nav-link" href = "2">PAGE B</a>
                    <a class = "nav-link disabled" href="3">PAGE C</a>
                </nav>
            </div>    
        </div>

        <div class = "row">
            <div class = "col-12">
                <h2 class = "display-3">sample</h2>
                <p class = "lead">this is navigation sample gage .</p>
            </div>
        </div>
    </div>
 </body>           